@model IEnumerable<PersonDataRandomizer.Models.ResultPerson>

@{
    int number = (ViewBag.Page - 1) * 10;
    foreach (var person in Model)
    {
        <tr class ="table-row text-break" name="row">
            <td class="text-nowrap" style="padding: 5px;">@(++number)</td>
            <td style="padding: 5px;">@person.FullName</td>
            <td style="padding: 5px;">@person.Address</td>
            <td style="padding: 5px;">@person.PhoneNumber</td>
        </tr>
    }
}