body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}


.radio-buttons {
    width: 76px;
    border: 1px solid #ced4da;
}

.input-seed {
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    width: 152px;
}

.input-errors {
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    width: 114px;
    height: 38px;
}

input[type='number'] {
    padding-left: 20px;
}

tr {
    height: 50px;
}